In [9]:
import pandas as pd
import random

In [18]:
number_task = []
name_task = []
acceptance = []

with open('index.txt', 'r') as f:
    line = f.readline()
    while line:
        line = line.split()
        number_task.append(int(line[0]))
        name_task.append(' '.join(line[1:-1]))
        acceptance.append(float(line[-1][:-1]))
        line = f.readline()

In [25]:
data = pd.DataFrame({'number_task':number_task, 'name_task':name_task, 'acceptance':acceptance}, columns = ['number_task', 'name_task', 'acceptance'])
data

     number_task                                    name_task  acceptance
0           1007       Minimum Domino Rotations For Equal Row        50.9
1            929                       Unique Email Addresses        68.2
2            975                                Odd Even Jump        44.6
3            904                           Fruit Into Baskets        41.9
4            947  Most Stones Removed with Same Row or Column        54.9
..           ...                                          ...         ...
196          250                      Count Univalue Subtrees        50.6
197          558                       Quad Tree Intersection        42.7
198          924                      Minimize Malware Spread        41.1
199         1056                             Confusing Number        50.7
200          366                   Find Leaves of Binary Tree        68.3

[201 rows x 3 columns]

In [131]:
data.sort_values(by='number_task')

,number_task,name_task,acceptance
8,1,Two Sum,44.8
78,2,Add Two Numbers,32.3
131,3,Longest Substring Without Repeating Characters,29.2
70,4,Median of Two Sorted Arrays,27.8
134,23,Merge k Sorted Lists,37.1
...,...,...,...
72,1153,String Transforms Into Another String,33.8
144,1168,Optimize Water Distribution in a Village,57.8
34,1170,Compare Strings by Frequency of the Smallest C...,58.3
161,1219,Path with Maximum Gold,61.8
135,1231,Divide Chocolate,50.6

### Creating new task number random

In [149]:
unique_number_tasks = data['number_task']

def add_random_number_task_to_set(solved_number_tasks):
    max_number = data['number_task'].max()
    random_number = int(random.random() * max_number)
    
    while random_number in solved_number_tasks or random_number not in list(unique_number_tasks):
        random_number = int(random.random() * max_number)
        
    solved_number_tasks.add(random_number)

In [156]:
solved_number_tasks = set()

with open('solved.txt', 'r') as f:
    line = f.readline()
    while line:
        solved_number_tasks.add(int(line))
        line = f.readline()

In [157]:
add_random_number_task_to_set(solved_number_tasks)

In [158]:
solved_number_tasks

{31, 852}

In [159]:
with open('solved.txt', 'w') as f:
    for number in solved_number_tasks:
        f.write(str(number))

In [160]:
data[data['number_task'] == 31]

     number_task         name_task  acceptance
117           31  Next Permutation        31.4